<h1>Board#index</h1>
<p>Find me in app/views/board/index.html.erb</p>
<div>
    <% @posts.each do |post| %>
    <a href="/board/<%=post.id%>"><%=post.title%></a></br>
    <% end %>
</div>
<%= link_to '새글쓰기','/board/new'%>